* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    line-height: 1.6;
}

header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url('images/background.jpg') center/cover;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

nav h1 {
    color: gold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: gold;
}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-size: 60px;
    color: gold;
}

.hero p {
    font-size: 24px;
}

.section {
    padding: 80px 50px;
    text-align: center;
}

.section h2 {
    margin-bottom: 30px;
    color: gold;
}

.gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background: #000;
}